{% extends 'speech/base.html' %}
{% load static %}

{% block title %}
    Общение с AI
{% endblock %}

{% block components %}
    <link rel="stylesheet" href="{% static 'speech/css/speech-record-style.css' %}">
{% endblock %}

{% block body %}
    <section>
        <div class="record_video">
            {% csrf_token %}
            <video id="video" width="640" height="480" autoplay muted></video>
            <br>
            <button id="startBtn">Начать запись</button>
            <button id="stopBtn">Остановить и отправить</button>
        </div>
    </section>
    <script src="{% static 'speech/js/recording_script.js' %}"></script>
{% endblock %}